/*************************
		Global
*************************/
* {
  font-family: 'Work Sans', serif;
}


/*************************
    List
*************************/
.row-wrapper {
  background-color: rgba(204, 204, 204, 0.35);
  padding: 6px 10px;
  border-radius: 4px;
  margin: 6px 0;
}

.list, .actions {
  display: inline-block;
}

/*************************
  Items
*************************/

/* Class dynamically added on click */
.editing-item {
  background-color: rgb(184, 131, 162);
}

.edited .list label::after {
  content: " edited";
  text-transform: uppercase;
  padding-left: 5px;
  color: rgb(107, 107, 107);
}

.completed {
  text-decoration: line-through !important; /* not working */
  color: rgb(210, 103, 103);
}




/*************************
    Button Overrides - change hover states
*************************/
.btn-danger {
  background-color: #DA4453;
  border-color: #DA4453;
}

.btn-primary {
  background-color: #48CFAD;
  border-color: #48CFAD;
}
